<img src="http://www.exalumnos.usm.cl/wp-content/uploads/2015/06/Isotipo-Negro.gif" title="Title text" width="20%" height="20%" />


<hr style="height:2px;border:none"/>
<h3 align='center'> INF-335 Tecnolog√≠as de B√∫squeda en la Web</h3>

<H1 align='center'> An√°lisis de Comentarios en Twitter Respecto al Acontecer Nacional Actual </H1>
<hr style="height:2px;border:none"/>

In [8]:
import twint 
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
from nltk import word_tokenize, WordNetLemmatizer

## Lectura de Tweets

In [25]:
df = pd.read_csv('./temp_files/all_data.csv', encoding='utf-8')
df.drop(columns=['hashtags', 'geo', 'source'], inplace=True)
df

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,video,near,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1187881524559003648,1187881524559003648,1572047999000,2019-10-25,20:59:59,-3,56182537,axcarhen,alex,NaN,...,0,NaN,NaN,NaN,NaN,"[{'user_id': '56182537', 'username': 'axcarhen'}]",NaN,NaN,NaN,NaN
1,1187881522877161472,1187881522877161472,1572047999000,2019-10-25,20:59:59,-3,289545711,taengooiu,ùíàùíÇùíÉùíä ü¶ãüá®üá±,NaN,...,0,NaN,NaN,NaN,NaN,"[{'user_id': '289545711', 'username': 'taengoo...",NaN,NaN,NaN,NaN
2,1187881520993841156,1187881520993841156,1572047999000,2019-10-25,20:59:59,-3,310003737,twerkinghyuk_,Karen üåà Frente Patri√≥tico Super Junior ‚úäüèª,NaN,...,0,NaN,NaN,NaN,NaN,"[{'user_id': '310003737', 'username': 'twerkin...",NaN,NaN,NaN,NaN
3,1187881520905838593,1187881520905838593,1572047999000,2019-10-25,20:59:59,-3,2941623273,emiliorreyes,APRUEBO PO,NaN,...,1,NaN,NaN,NaN,NaN,"[{'user_id': '2941623273', 'username': 'emilio...",NaN,NaN,NaN,NaN
4,1187881519047696384,1187842485315354624,1572047998000,2019-10-25,20:59:58,-3,382904289,gabulethon,#RenunciaPi√±era,NaN,...,0,NaN,NaN,NaN,NaN,"[{'user_id': '382904289', 'username': 'gabulet...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10041,1193940701471358978,1193940701471358978,1573492620000,2019-11-11,14:17:00,-3,191894994,rsumen,Peri√≥dico Resumen,NaN,...,0,NaN,NaN,NaN,NaN,"[{'user_id': '191894994', 'username': 'rsumen'}]",NaN,NaN,NaN,NaN
10042,1193940594164404224,1193940594164404224,1573492594000,2019-11-11,14:16:34,-3,26631822,mavaldess,Macarena Vald√©s,NaN,...,0,NaN,NaN,NaN,NaN,"[{'user_id': '26631822', 'username': 'Mavaldes...",NaN,NaN,NaN,NaN
10043,1193940128881946625,1193940128881946625,1573492483000,2019-11-11,14:14:43,-3,847976433989427200,frantibiotico,Fran,NaN,...,0,NaN,NaN,NaN,NaN,"[{'user_id': '847976433989427200', 'username':...",NaN,NaN,NaN,NaN
10044,1193940087614189569,1193940087614189569,1573492473000,2019-11-11,14:14:33,-3,1136420579639201792,douglaspastor5,‚ú≥Ô∏èDOUG üá®üá±,NaN,...,0,NaN,NaN,NaN,NaN,"[{'user_id': '1136420579639201792', 'username'...",NaN,NaN,NaN,NaN
10045,1193939915651846144,1193939915651846144,1573492432000,2019-11-11,14:13:52,-3,1136420579639201792,douglaspastor5,‚ú≥Ô∏èDOUG üá®üá±,NaN,...,0,NaN,NaN,NaN,NaN,"[{'user_id': '1136420579639201792', 'username'...",NaN,NaN,NaN,NaN

## Limpieza de Datos

In [26]:
# Funci√≥n para quitar emojis
def deEmojify(inputString):
    return inputString.encode('ascii', 'ignore').decode('ascii')

In [27]:
import re
import emoji

#otra funci√≥n para quitar emojis, usando el paquete emoji
def freemoji(text):
    allchars = [str for str in text]
    emoji_list = [c for c in allchars if c in emoji.UNICODE_EMOJI]
    clean_text = ' '.join([str for str in text.split() if not any(i in str for i in emoji_list)])
    return clean_text

df["tweet"] = df["tweet"].str.lower()
df["tweet"]=df['tweet'].apply(lambda x: re.split('https:\/\/.*', str(x))[0])
df["tweet"]=df['tweet'].apply(lambda x: re.split('pic.twitter.com/.*', str(x))[0])
df["tweet"]=df['tweet'].apply(lambda x: re.split('http //.*', str(x))[0])
tweets=df['tweet'].apply(freemoji)
tweets

0        ojal√° les quede claro que no queremos migajas ...
1        ha sido 1 semana de sufrimiento de cansancio f...
2        este cabro con su tranquilidad y el que pregun...
3        se me eriza la piel al escuchar esto, todos un...
4        si tienes a m√°s de un mill√≥n de personas march...
                               ...
10041    el historial del tirador de re√±aca y su milita...
10042    no es que no entienda nada, es que le encanta ...
10043    los pacos llevan f√°cilmente 30 min tirando lac...
10044    tiempos peores por eso es importante votar #ch...
10045    tiempos peores por eso es importante votar #ch...
Name: tweet, Length: 10046, dtype: object

In [28]:
def lemmatize(word, corpus='nltk'):
    if corpus == 'nltk':
        lemmatizer = WordNetLemmatizer()
        return lemmatizer.lemmatize(word)

def tokenize(data, corpus='nltk'):
    stop_words = stopwords.words('spanish')
    others_stop=["'","...","''","#","<",">","}","{","]","[","¬¥","?","¬°","!","¬ø","/","*",
                '"',"-","--",";",":","::","=",")","(","&","|","'ve","'t","'s",
                "'ll","n't",">.<","<3","._.","~","<br","</","/>","<<",">>","~~",
                ",","d","na","m","''","¬¥¬¥","!!!!!",'"(','",','.;','[*','tm','").',
               "l",'"&',').*','://','www','http','"...',"=[", '@', '``']
    stop_words += others_stop
    lemmatizer = WordNetLemmatizer()
    tokenize_data = []
    for text in data:
        word_tokens = word_tokenize(text)
        words = ''
        for word in word_tokens:
            if (word not in stop_words) and len(word) > 3:
                if corpus == 'nltk':
                    words += ' ' + lemmatize(word)
        tokenize_data += [words]
    return tokenize_data

In [29]:
tok = tokenize(tweets)

## Sentiment Analysis

### Word Embedding

In [ ]:
EMBEDING_DIM = 300
FILE = ''
embeddings_index = {}
# Load embeddings
with open(FILE) as file:
    for line in file:
        values = line.split()
        embeddings_index[values[0]] = np.asarray(values[1:], dtype = 'float32') 

def generate_feature_matrix(sentences):
    feature_matrix = np.empty(0,0)
    for sentence in sentences:
        words = sentence.split()
        words_matrix = np.empty(0,0)
        for word in words:
            try:
                emb_vector = embeddings_index.get(word)
            except:
                emb_vector = np.zeros(EMBEDDING_DIM)
            
            if words_matrix.shape == (0,0):
                words_matrix = emb_vector[np.newaxis,:]
            else:
                np.concatenate((words_matrix, emb_vector[np.newaxis,:]), axis=0)
        awe_sentence = words_matrix.mean(0)
        
        if feature_matrix.shape == (0,0):
            feature_matrix = awe_sentence[np.newaxis,:]
        else:
            np.concatenate((feature_matrix,awe_sentence[np.new_axis,:]), axis=0)
    return feature_matrix

### Train Corpus TASS

In [19]:
import os
import glob
from lxml import objectify
extension = 'xml'
def merge_corpus(dir):
    os.chdir(dir)
    file_names = [i for i in glob.glob(f'*.{extension}')]
    all_df = []
    print(file_names)
    for file in file_names:
        print(file)
        xml = objectify.parse(open(file, encoding='utf8'))
        root = xml.getroot()
        tweets_df = pd.DataFrame(columns=['content', 'polarity'])
        tweets = root.getchildren()
        for i in range(len(tweets)):
            tweet = tweets[i]
            row = dict(zip(['content', 'polarity'], [tweet.content.text, tweet.sentiments.polarity.value.text]))
            row = pd.Series(row)
            row.name = i
            tweets_df = tweets_df.append(row)
        all_df.append(tweets_df)
    all_data = pd.concat(all_df)
    all_data.to_csv('all_tass.csv', index=False, encoding='utf-8')
    
merge_corpus('/Users/juancastillo/Desktop/Proyecto-INF-335/tass')

['general-test-tagged.xml', 'general-train-tagged.xml', 'general-train-tagged-3l.xml', 'politics-test-tagged.xml', 'general-test-tagged-3l.xml']
general-test-tagged.xml
general-train-tagged.xml
general-train-tagged-3l.xml
politics-test-tagged.xml
general-test-tagged-3l.xml

In [20]:
df_sentiment = pd.read_csv('all_tass.csv')
df_sentiment

                                                  content polarity
0       Portada 'P√∫blico', viernes. Fabra al banquillo...        N
1       Grande! RT @veronicacalderon "El periodista es...     NONE
2       Gonzalo Altozano tras la presentaci√≥n de su li...       P+
3       Ma√±ana en Gaceta: TVE, la que pagamos t√∫ y yo,...        N
4       Qu√© envidia ‚Äú@mfcastineiras: Pedro ma√±ana x la...     NONE
...                                                   ...      ...
138529  @Juandecolmenero @angelrubioti @barbara_ruizp ...        P
138530  Escuchan lo que quieren RT @almudenanegro: El ...     NONE
138531  ¬øA qu√© espera el alcalde promarihuana independ...        N
138532  Esto es lo que hay... Preocupante la flagrante...        N
138533  Rajoy, con el agua al cuello: Espa√±a se asoma ...        N

[138534 rows x 2 columns]

In [42]:
general_tweets_corpus_train

                                                content polarity     agreement
0           Salgo de #VeoTV , que d√≠a m√°s largoooooo...     NONE     AGREEMENT
1     @PauladeLasHeras No te libraras de ayudar me/n...      NEU  DISAGREEMENT
2                             @marodriguezb Gracias MAR        P     AGREEMENT
3     Off pensando en el regalito Sinde, la que se v...       N+     AGREEMENT
4     Conozco a alguien q es adicto al drama! Ja ja ...       P+     AGREEMENT
...                                                 ...      ...           ...
7214  Muy indignante si ...nadie repara en ello hoy ...       N+     AGREEMENT
7215  M√°s pobres por discriminar a la mujer http://t...       N+     AGREEMENT
7216  Crean un banco de productos para mujeres con c...        P     AGREEMENT
7217  Sobre la sorprendente hu√≠da hoy en el Senado d...        N     AGREEMENT
7218  #CorreMarianoCorre est√° muy bien pero la versi...       P+     AGREEMENT

[7219 rows x 3 columns]

In [47]:
train= pd.read_csv('general-tweets-train-tagged.csv', encoding='utf-8')
train = train[train['polarity'] != 'NONE']
#train = train.query('agreement != "DISAGREEMENT" and polarity != "NONE"')
#remove links
train = train[-train.content.str.contains('^http.*$')]

#paso de etiquetas a bin y eliminaci√≥n de datos neutros
train_corpus = train[train.polarity != 'NEU']
pd.options.mode.chained_assignment = None
train['polarity_bin'] = 0
train.polarity_bin[train.polarity.isin(['P', 'P+'])] = 1

In [48]:
tweets_train=tokenize(train["content"])
#definici√≥n de etiqueta
eti=train["polarity_bin"]

In [51]:
#gridsearch para determinar hiperpar√°metros con linear svm 
#from sklearn.cross_validation import cross_val_score
from sklearn.svm import LinearSVC
from sklearn.model_selection import GridSearchCV
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import svm


vectorizer = CountVectorizer(ngram_range=(1, 1), binary=False) #TF representation

vectorizer.fit(tweets_train)
tr_v = vectorizer.transform(tweets_train)

test_v= vectorizer.transform(tok)


parameters = {'kernel':('linear', 'rbf'), 'C':[10**i for i in np.arange(-4,4, dtype=float)]}
svc = svm.SVC(gamma="auto")
clf = GridSearchCV(svc, parameters)
clf.fit(tr_v, eti)
clf.best_params_

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

{'C': 0.1, 'kernel': 'linear'}

In [54]:
print("Score del mejor modelo encontrado:", clf.score(tr_v,eti))

Score del mejor modelo encontrado: 0.9393038306804268

In [55]:
sentiment=clf.predict(test_v)

In [63]:
print(sentiment)
df["sentiment_svm"]=sentiment
df.to_csv('output.csv', index=False)
df[['tweet', 'sentiment_svm']].to_csv('output.csv', sep = ';',index=False)
df[['tweet', 'sentiment_svm']]

[1 0 0 ... 0 1 1]

                                                   tweet  sentiment_svm
0      ojal√° les quede claro que no queremos migajas ...              1
1      ha sido 1 semana de sufrimiento\nde cansancio ...              0
2      este cabro con su tranquilidad y el que pregun...              0
3      se me eriza la piel al escuchar esto, todos un...              1
4      si tienes a m√°s de un mill√≥n de personas march...              1
...                                                  ...            ...
10041  el historial del tirador de re√±aca y su milita...              0
10042  no es que no entienda nada, es que le encanta ...              1
10043  los pacos llevan f√°cilmente 30 min tirando lac...              0
10044  tiempos peores üí£‚ö∞Ô∏èüö´üí∞üí∞üò§ por eso es importante v...              1
10045  tiempos peores üí£‚ö∞Ô∏èüö´üí∞üí∞üò§ por eso es importante v...              1

[10046 rows x 2 columns]